@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&family=Montserrat:wght@200;300;400;500&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
body{font-family: 'Montserrat', sans-serif;color: #222;}
section{width: 100%;height: 100%;margin: 0 auto;}
.mailform{width: 320px;height: 600px;margin: 50px auto; border: 2px solid #ccc;padding: 30px;border-radius: 10px;box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);}
.mailform .quick{font-size: 11px;color: #777;text-decoration: none;float: right;letter-spacing: -0.8px;position: relative;margin-right: 14px;}
.mailform .quick::before{content: '→';position: absolute;right: -14px;top: 50%;transform: translateY(-53.5%);}
.mailform h1{width: 320px;text-align: center;margin: 30px 0;position: relative;border-bottom: 1px solid #ccc;line-height: 56px;}
.mailform h1.change{border-color: rgb(102, 142, 252);}
.mailform h1::before{content: '';display: block;width: 30%;height: 3px;position: absolute;left: 50%;bottom: -1.5px;background: #333;transform: translateX(-50%);}
.mailform h1.change::before{content: '';display: block;width: 30%;height: 3px;position: absolute;left: 50%;bottom: -1.5px;background: rgb(60, 101, 214);transform: translateX(-50%);}
.mailform form{width: 100%;height: 100%;}
form input{display: block; box-sizing: border-box;width: 320px;margin: 20px 0;outline: none;border-radius: 0;border: 1px solid #ccc;padding: 0;height: 32px;text-indent: 10px;}
form input:hover{border-color: rgb(60, 101, 214);}
form input[name=my_file]{display: none;}
form input::placeholder{font-size: 12px;text-indent: 10px;}
form textarea{width: 320px;margin: 0;box-sizing: border-box;padding: 10px 0 0 0;text-indent: 10px;border: 1px solid #ccc;outline: none;}
form textarea::placeholder{font-size: 12px;text-indent: 10px;}
.filerow{overflow: hidden;vertical-align: bottom;margin-bottom: 20px;}
label{font-size: 13px;display: block;width: 100px;height: 30px;border: 1px solid #ccc;text-align: center;line-height: 30px;cursor: pointer;
color: #777;float: left;}
.emailcheck{font-size: 13px;display: block;width: 100px;height: 30px;border: 1px solid #ccc;text-align: center;line-height: 30px;cursor: pointer;
    color: #777;float: left;background: #fff;margin-bottom: 20px;outline: none;}
.emailcheck:hover{border-color: rgb(60, 101, 214);;}
label:hover{border-color: rgb(60, 101, 214);}
textarea:hover{border-color: rgb(60, 101, 214);}
.filename{display: block;width:190px;height: 32px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;float: left;line-height: 32px; color: #666;margin-left: 10px;font-size: 14px;}
.btn{width: 200px;margin: 30px auto 0;line-height: 50px;height: 50px;background: #fff;font-size: 16px;color: #777;cursor: pointer;}
input:focus{border-color: rgb(60, 101, 214);}
textarea:focus{border-color: rgb(60, 101, 214);}